<h2><%= @depute["nom"] %></h2>
<p>
  <a href="http://www.nosdeputes.fr/<%= @depute_id %>" target="_blank">
  <img src="http://www.nosdeputes.fr/depute/photo/<%= @depute_id %>/160" width="125" height="160">
  <br>
  Plus d'info</a>
</p>
