<h2>Qu'est-ce?</h2>
<p>Politimap est une application web qui permet de visualiser les informations
disponibles sur <a href="http://www.nosdeputes.fr">nosdeputes.fr</a></p>

<h2>Que vois-je?</h2>
<p>La requète actuelle montre la participation des députés du mois d'avril à juin 2011.</p>

<h2>A venir</h2>
<p>Il devrait bientôt être possible de faire ses propres requêtes sur l'API de 
<a href="http://cpc.regardscitoyens.org/trac/wiki/API">regardscitoyens.org</a>,
ainsi que d'avoir des infos supplémentaires sur chaque point de cette carte.</p>
