.container {
  margin-top:10px;
}

#heatmapArea {
  position: relative;
  float: left;
  width: 600px;
  height: 400px;
  background-image: url(../seat_map.jpg);
}

#heatmap_loading{
  background: #900;
  color: white;
  padding: 3px 5px 5px 10px;
  position: relative;
  top: 1px;
}

#heatmap_tooltip{
  background: #009;
  color: white;
  padding: 3px 5px 5px 10px;
  position: relative;
  top: 1px;
}

.legend{
  padding-left:5px;
  font-size:10px;
}

.legend img{
  margin: 0 10px;
}

#filter{
  padding-top:10px;
  margin-bottom:20px;
  text-align:center;
}

#filter .MonthPicker{
  margin-bottom:25px;
  width:600px;
}

#info{
  text-align:center;
}
