#heatmapArea {
  position: relative;
  float: left;
  width: 600px;
  height: 400px;
  background-image: url(../seat_map.jpg);
  border: 1px dashed black;
}

#heatmap_loading{
  background: #900;
  color: white;
  padding: 3px 5px 5px 10px;
  position: relative;
  top: 3px;
}

#heatmap_tooltip{
  background: #009;
  color: white;
  padding: 3px 5px 5px 10px;
  position: relative;
  top: 3px;
}

#filter{
  padding-top:10px;
  margin-bottom:20px;
  text-align:center;
}

#filter .MonthPicker{
  margin-bottom:25px;
  width:600px;
}
